.navbar-container {
    width: 100%;
    background-color: #0c0c0c;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-text {
    padding: 0 1rem;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
}

.navbar-div {
    width: 1px;
    height: 12px;
    background-color: #fff;
}

@media screen and (max-width: 768px) {
    .navbar-container {
        display: none;
    }
}