.brands-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1rem;
  }
  
  .brands-content {
    width: 90%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .brands-title { 
    width: 100%;
    height: 2rem;
  }

  .brands-title p {
    font-weight: bold;
    font-size: 1.4rem;
    color: #4E4E4E;
  }

  .brands-elements {
    width: 100%;
    height: 14rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .brand-card img {
    width: 10rem;
    height: auto;
    border-radius: 10px;
    max-width: 200px;
    max-height: 200px;
    transition: all 0.2s;
  }

  .brand-card img:hover {
    width: 11rem;
    height: auto;
  }

  @media (max-width: 480px) {
    .brands-elements {
      overflow-x: auto;
      flex-wrap: nowrap;
      justify-content: start;
    }

    .brand-card img {
      max-width: 8rem;
      max-height: 8rem;
    }
  }