.header-container {
    width: 100%;
    height: 80px;
    background-color: #0060B1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .header-wrapper {
    width: 80%;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 1%;
  }

  .header-element--hamburger {
    display: none;
  }

  .header-element--logo {
    width: 10%;
    cursor: pointer;
  }
  
  .header-logo--img {
    width: 148px;
    height: auto;
  }
  
  .header-elements--searchbar {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .header-searchbar--form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
  }

  .header-elements--searchbar-mobile{
    display: none;
  }
  
  .searchbar-form--input {
    font-weight: 400;
    width: 100%;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }

  .header-elements--buttons {
    width: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  
  .header-favorite--button,
  .header-support--button,
  .header-cart--button {
    width: 48px;
    height: 48px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
    background-color: #0060B1;
    transition: all 0.4s;
    cursor: pointer;
  }

  .header-favorite--button:hover,
  .header-support--button:hover,
  .header-cart--button:hover {
    background-color: #006ec7;
  }

  .header-favorite--button svg,
  .header-support--button svg,
  .header-cart--button svg {
    width: 24px;
    height: auto;
  }
  
  @media (max-width: 768px) {
    .header-container {
      height: 120px;
    }
    .header-wrapper {
      width: 100%;
      flex-direction: column;
    }
    .header-content {
      width: 100%;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
    }
    .header-element--logo {
      width: 80px;
      height: 40px;
    }
    .header-logo--img {
      width: 80px;
      height: auto;
    }

    .header-element--favorite,
    .header-element--support {
      display: none;
    }

    .header-elements--searchbar {
      display: none;
    }
    .header-elements--searchbar-mobile {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .searchbar-form--input {
      width: 100%;
    }
    .header-element--hamburger {
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  
  @media (max-width: 480px) {
    .searchbar-form--input {
      width: 100%;
    }
  }